<footer class="footer">
    <div class="footer__top">
        <a [routerLink]="[ '' ]">
            <img src="https://firebasestorage.googleapis.com/v0/b/monosushi-ffc3b.appspot.com/o/main-images%2Flogo.svg?alt=media&token=2836069a-a498-4b61-8b95-79b5f13e00f8"
                alt="">

        </a>
        <ul class="menu">
            <li class="menu__li"><a class="text" [routerLink]="[ '/actions' ]">Акції на суші</a></li>
            <li class="menu__li"><a class="text" [routerLink]="[ '/about-us' ]">Про нас</a></li>
            <li class="menu__li"><a class="text" [routerLink]="[ '/dogovir-oferta' ]">Оферта</a></li>
        </ul>
        <div class="info">
            <div class="info__delivery">
                <p class="text bold">Точки самовивозу</p>
                <p class="text">вул. Володимира Великого, 10в</p>
                <p class="text">вул. Чорновола, 95</p>
                <p class="text">вул. Зелена, 204б</p>

            </div>
            <div class="info__order">
                <p class="text bold">Оформити замовлення</p>
                <p class="text">+380978780837</p>
            </div>
            <div class="info__work-time">
                <p class="text bold">Графік роботи</p>
                <p class="text">працюємо з 11:00 до 22:30</p>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="copyright">
            <p class="text">© 2024 Monosushi</p>
        </div>
        <div class="payment">
            <div class="payment__card">
                <img src="https://firebasestorage.googleapis.com/v0/b/monosushi-ffc3b.appspot.com/o/main-images%2Fpay-card-img-1.svg?alt=media&token=1a19c8ac-05ef-4891-bb5a-af0d80564931"
                    alt="">
            </div>
            <div class="payment__card">
                <img src="https://firebasestorage.googleapis.com/v0/b/monosushi-ffc3b.appspot.com/o/main-images%2Fpay-card-img-2.svg?alt=media&token=8cddc575-fb66-4cfd-abf4-39e04f834167"
                    alt="">
            </div>
            <div class="payment__card">
                <img src="https://firebasestorage.googleapis.com/v0/b/monosushi-ffc3b.appspot.com/o/main-images%2Fpay-card-img-3.svg?alt=media&token=e9b939ea-060b-45fe-9a46-c30a1fd8b5fd"
                    alt="">
            </div>
        </div>
        <p class="owner">ФОП Тимофійчук Максим Ігорович</p>
        <div class="social">
            <p class="text">Слідкуйте за нами</p>
            <ul class="icon-ul">
                <li class="icon">
                    <a href="https://www.facebook.com/monosushi.com.ua/" target="_blank">
                        <img src="https://firebasestorage.googleapis.com/v0/b/monosushi-ffc3b.appspot.com/o/main-images%2Ffacebook-icon.svg?alt=media&token=ef934305-c53e-4286-914e-65cfe4328ef2"
                            alt="">
                    </a>
                </li>
                <li class="icon">
                    <a href="https://www.instagram.com/monosushi.com.ua/" target="_blank">
                        <img src="https://firebasestorage.googleapis.com/v0/b/monosushi-ffc3b.appspot.com/o/main-images%2Finstagram-icon.svg?alt=media&token=9a8b3d33-34ed-436c-b55a-8afc4f36e3ea"
                            alt="">
                    </a>
                </li>
            </ul>
        </div>
        <div class="developed">
            <p class="text bold">Створення сайтів <a class="a" href="">by Roman</a></p>

        </div>

    </div>
</footer>