@import "../../shared/styles/variables";
@import "../../shared/styles/base";

.header {
    width: 100%;
    height: 95px;
    display: flex;
    align-items: center;
}

.logo {
    background-color: $mainCol;
    width: 166px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 136px;
}

.nav {
    display: inline-flex;
  flex-wrap: nowrap;
    margin-left: 15px;

    &__link {
        border: 1px solid red;
        width: 80px;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid transparent;
        border-radius: 15px;
        cursor: pointer;

        &__img {
            width: 28px;
            height: 30px;
        }

        &__name {
            display: block;
            font-size: 14px;
            font-weight: 700;




        }




    }

}

.nav__link:hover {
    @extend %border;
}

.menu {
    font-size: 35px;
    width: 70px;
    height: 70px;
    position: relative;
    border: 2px solid transparent;
    border-radius: 15px;
    padding: 32px 18px;

    &:hover {
        @extend %border;
    }

    .menu-1 {
        position: relative;
        display: block;
        width: 30px;
        height: 3px;
        background: $darkText;
        transition: all 0.5s ease;
        cursor: pointer;
        z-index: 100;

        &:before,
        &:after {
            position: absolute;
            width: 30px;
            height: 3px;
            content: " ";
            z-index: -1;
            transition: all 0.5s ease;
            background: $darkText;
        }

        &:before {
            top: -11px;
            left: 0;
        }

        &:after {
            top: 11px;
            right: 0;
        }
    }
}

.active {
    .menu-1 {
        background: transparent;

        &:before,
        &:after {
            top: 0;
        }

        &:after {
            transform: rotate(135deg);
        }

        &:before {
            transform: rotate(-135deg);
        }
    }
}

.nav-right {
  width: 45%;
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
}

.header-menu {
    position: absolute;
    width: 250px;
    height: 270px;
    border: 2px solid $mainCol;
    border-radius: 10px;
    top: -2px;
    right: -150px;
    background-color: white;
    z-index: 2;
    padding: 60px 20px 0;

    &__li a {
        text-decoration: none;
        color: $darkText;
        font-size: 15px;
        font-weight: bolder;
        cursor: pointer;

    }

    &__li {
        width: 90%;
        min-height: 40px;
        border: 1px solid transparent;
        line-height: 25px;
        text-align: start;
        padding-left: 10px;
        margin: 10px;

        &:hover {
            @extend %border;
        }
    }

}

.call-back {
    //margin: 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    & :hover {
        @extend %btn;

    }

    &__wrapper {
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $mainCol;
        border: 2px solid $mainCol;
        border-radius: 10px;
        cursor: pointer;

        img {
            margin: 0 10px;
        }

        &__text {
            margin-right: 10px;
            font-size: 12px;
            font-weight: 700;
        }
    }
}


.info {
    //margin: 0 50px;
    display: block;
    justify-content: center;
    align-items: center;

    &__number {
        text-align: center;
        font-size: 16px;
        font-weight: 700;

        &:hover {
            @extend %text-color;
        }

        &__time {
            font-size: 12px;
            font-weight: 800;
        }
    }
}


.user {
    //margin: 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &__logo {
        border: 2px solid transparent;
        border-radius: 10px;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}

.user__logo:hover {
    @extend %border;
}


.basket {
    width: 134px;
    height: 95px;
    position: absolute;
    top: 0;
    right: 0;
    background: $mainCol;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &__logo {
        position: relative;
        margin-right: 15px;
    }

    &__count {
        border-radius: 12px;
        width: 24px;
        height: 24px;
        background: white;
        position: absolute;
        top: 0px;
        right: -10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

.basket-bgr-white {
    background: white;
}

.wrapper-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(53, 49, 49, 0.393);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.user-modal {
    width: 600px;
    height: 400px;
    position: absolute;
    top: 150px;
    left: calc((100vw - 600px)/2);
    padding: 10px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    z-index: 6;

    &__close {
        width: 100%;
        text-align: right;
    }

    &__wrapper {
        width: 80%;
        margin: 30px auto;
    }

    &__title {
        text-align: center;
        font-size: 34px;
        font-weight: bold;

        &__text {

            text-align: center;


        }
    }

    &__text {
        text-align: center;
        font-size: 16px;
        margin: 0 50px;
    }

    &__form {
        margin: 20px auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__input {
            width: 100%;
            height: 40px;
            margin-bottom: 20px;
            padding-left: 20px;
            border-radius: 10px;

        }

        &__label {
            margin-bottom: 20px;

        }

        &__btn {
            width: 100%;
            height: 40px;
            text-align: center;
            border-radius: 10px;
            background-color: $mainCol;

            &:hover {
                @extend %btn;
            }
        }

    }

    &__bottom {
        display: flex;
        justify-content: space-between;

        &__text {

            &:hover {
                @extend %text-decor;
            }
        }

        &__span {
            font-weight: 700;
            margin-left: 5px;

            &:hover {
                @extend %text-decor;
            }

        }
    }

    &__signUp {
        top: 50px;
        height: 530px;
    }
}

.form-w-40 {
    display: flex;
    justify-content: space-between;
}

.w-40 {
    width: 49%;
}



.basket-modal {
    width: 650px;
    border-radius: 0 0 15px 15px;
    position: absolute;
    top: 95px;
    right: 0;
    text-align: center;
    z-index: 6;
    background: white;



    &__empty {
        height: 75%;
        padding: 20px;

        &__text {
            padding: 20px;

        }

        &__btn {
            width: 200px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #b5d8f7;
            border: 2px solid #b5d8f7;
            border-radius: 10px;
            cursor: pointer;
            margin: 0 auto;

            &:hover {
                @extend %btn;
            }

            a {
                text-decoration: none;
            }

            &__text {
                text-decoration: none;
                color: black;
            }
        }
    }


    &__footer {
        height: 25%;
        background-color: $mainCol;
        border-radius: 0 0 15px 15px;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__btn-order {
            width: 250px;
            height: 35px;
            background-color: gray;
            border-radius: 10px;
            cursor: pointer;

        }

    }

    &__products {
        height: 100px;
        display: flex;
        align-items: center;
        padding: 5px;
        background-color: white;

        &__img {
            width: 22%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                max-width: 100%;
            }
        }

        &__name {
            width: 35%;
            font-size: 16px;
            font-weight: bold;
            padding: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;

        }

        &__count {
            width: 90px;
            height: 40px;
            border: 2px solid $mainCol;
            border-radius: 5px;
            font-size: 16px;
            font-weight: bolder;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px;
            margin-right: 10px;

            &__plus,
            &__min {
                width: 20px;
                border: none;
                background: none;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: bold;
                font-size: 18px;

                &:hover {
                    background-color: $mainCol;
                    transition-duration: 500ms;
                }
            }

            &__order {
                width: 90px;
                height: 40px;
                background-color: $mainCol;
                border: 2px solid $mainCol;
                border-radius: 5px;
                font-size: 14px;
                font-weight: 500;
                @extend %btn;
            }
        }

        &__summ {
            font-size: 16px;
            font-weight: bold;
            margin-right: 10px;

            span {
                font-weight: normal;
            }
        }

        &__delete {
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;

            p {
                cursor: pointer;
                font-weight: bold;
                @extend %text-color;
            }
        }
    }
}


.chekbox {
    cursor: pointer;
    margin-right: 10px;
}

.label {
    cursor: pointer;
}

.label-text {
    &:hover {
        @extend %text-decor;
    }
}

.span {
    &:hover {
        @extend %text-decor;
    }
}


.text {
    font-size: 14px;
}

.bold {
    font-weight: bold;
}

.z-index {
    z-index: 5;
}
