<div class="actions">
    <h1 class="header">Акції на суші</h1>
    <div class="userDiscount">
        <div [routerLink]="[ '/actions', discount.id ]" class="userDiscount__block"
            *ngFor="let discount of usersDiscounts">
            <img class="userDiscount__block__img" [src]="discount.imagePath" alt="">
            <h2 class="userDiscount__block__name">{{discount.name}}</h2>
            <button class="userDiscount__block__btn"> Дізнатись більше</button>
        </div>
    </div>
</div>
