@keyframes drawborder {
  25% {
    border-top-color: #b5d8f7;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50% {
    border-top-color: #b5d8f7;
    border-right-color: #b5d8f7;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  75% {
    border-top-color: #b5d8f7;
    border-right-color: #b5d8f7;
    border-bottom-color: #b5d8f7;
    border-left-color: transparent;
  }
  100% {
    border-color: #b5d8f7;
  }
}
@keyframes btn-background {
  100% {
    background-color: white;
  }
}
@keyframes text-color {
  100% {
    color: #b5d8f7;
  }
}
@keyframes text-decor {
  100% {
    color: #b5d8f7;
    text-decoration: underline;
    text-decoration-color: #b5d8f7;
  }
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.name {
  width: 400px;
  border-top: 7px solid #b5d8f7;
  margin: 50px auto;
  font-size: 40px;
  font-weight: bolder;
  padding: 10px 5px;
  text-align: center;
}

.delivery {
  width: 80%;
  margin: 30px auto;
  display: flex;
  justify-content: center;
}
.delivery img {
  width: 250px;
}
.delivery__box {
  display: flex;
  justify-content: center;
  margin: 0 20px;
  text-align: center;
  line-height: 30px;
}
.delivery__map {
  width: 80%;
  margin: 50px auto;
  height: 600px;
  border: 1px solid black;
}

.green {
  color: #27ae60;
  font-weight: bold;
}

.yellow {
  color: #f2c94c;
  font-weight: bold;
}

h1 {
  font-size: 26px;
}

.description {
  width: 70%;
  margin: 50px auto;
  color: #707070;
  letter-spacing: 1px;
  font-size: 15px;
  line-height: 20px;
}

.payments {
  width: 100%;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.payments__header {
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  color: #252525;
  padding: 20px;
}

.payment {
  width: 340px;
  display: flex;
  margin: 0 20px;
}
.payment img {
  width: 70px;
  height: 70px;
  background-color: #b5d8f7;
  padding: 15px 10px;
  border-radius: 7px;
  margin: 5px;
}
.payment__top {
  font-size: 16px;
  font-weight: bold;
  color: #252525;
  padding: 10px 10px;
}
.payment__desc {
  font-size: 15px;
  font-weight: 100;
  color: #707070;
  padding: 0 10px;
}

.bord {
  border-right: 2px solid #b5d8f7;
}/*# sourceMappingURL=dostavka-ta-oplata.component.css.map */