<div class="admin">
    <div class="admin-panel">
        <!-- <div class="category">Акції</div>
        <div class="category">Категорії</div>
        <div class="category">Товари</div>
        <div class="category">Замовлення</div> -->
        <button class="category" [routerLink]="[ 'action' ]" routerLinkActive="active"
        type="button">Акції</button>
        <button class="category" [routerLink]="[ 'category' ]" routerLinkActive="active"
            type="button">Категорії</button>
        <button class="category" [routerLink]="[ 'product' ]" routerLinkActive="active"
            type="button">Товари</button>
        <button class="category" [routerLink]="[ 'discount' ]" routerLinkActive="active"
            type="button">Замовлення</button>
        <button type="button" class="btn" [routerLink]="[ '' ]" >Вихід</button>
    </div>
    <div class="admin-window">
        <router-outlet></router-outlet>
    </div>
</div>
<!-- <div class="container-fluid">
    <div class="d-flex align-items-start">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <div>
            <button class="nav-link" [routerLink]="[ 'action' ]" routerLinkActive="active"
            type="button">Акції</button>
            <button class="nav-link" [routerLink]="[ 'category' ]" routerLinkActive="active"
                type="button">Категорії</button>
            <button class="nav-link" [routerLink]="[ 'product' ]" routerLinkActive="active"
                type="button">Товари</button>
            <button class="nav-link" [routerLink]="[ 'discount' ]" routerLinkActive="active"
                type="button">Замовлення</button>
            </div>
            <div>
                <button></button>
            </div>
            </div>
        <div class="tab-content w-100" id="v-pills-tabContent">
            <router-outlet></router-outlet>
        </div>
    </div>
</div> -->
