@import "../../shared/styles/variables";
@import "../../shared/styles/base";

.carousel {
    width: 98%;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;

    img {
        width: 49%;
        border-radius: 10px;
        cursor: pointer;
    }
}


.row {
    margin: 50px 0;

}
.block {
    height: 150px;
    background-color: $mainCol;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 100px;
        height: 100px;
    }
    p {
        display: block;
        width: 220px;
        text-align: center;
    }
    span {
        font-weight: bolder;
    }
    button {
        width: 200px;
        height: 40px;
        border-radius: 10px;
        background-color: white;
        border: 2px solid white;
        font-weight: bolder;
        &:hover {
            background-color: $mainCol;
            transition-duration: 500ms;
        }
    }
}
.rols-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0;

}
.rols {
    width: 10%;
    border: 1px solid #dcdcdc;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.active {
    border: none;
    border-top: 5px solid $mainCol;
}
.products {
    height: 100px;
}

.main-info {
    width: 70%;
    margin: 20px auto;
    h1 {
        text-align: center;
        font-weight: bold;
        font-size: 64px;
        margin-bottom: 20px;
    }
    p {
        font-size: 18px;
        margin-bottom: 20px;
    }
    h2 {
        font-weight: bold;
        font-size: 42px;
        margin-bottom: 30px;
    }
    h3 {
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 30px;
    }
    ul {
        margin-bottom: 20px;
        padding-left: 30px;
    }
    li {
        padding-left: 30px;
        list-style-type: circle;
        margin-bottom: 10px;
    }
    span {
        font-weight: bolder;
        color: $mainCol;
        @extend %text-decor;
    }
}