<div class="carousel">

    <img [routerLink]="[ 'action/2' ]"
        src="https://firebasestorage.googleapis.com/v0/b/monosushi-ffc3b.appspot.com/o/main-images%2F5-tyj-v-podarunok-.jpg?alt=media&token=d5eec300-9727-4d3e-8e3b-25727b0360ce"
        alt="five">
    <img [routerLink]="[ 'action/1' ]"
        src="https://firebasestorage.googleapis.com/v0/b/monosushi-ffc3b.appspot.com/o/main-images%2Frol-tyzhnya.jpg?alt=media&token=bf408a1c-7b15-4b2e-b0de-33c67bba608d"
        alt="rolweek">

    <!-- <img src="https://firebasestorage.googleapis.com/v0/b/monosushi-ffc3b.appspot.com/o/main-images%2Fden-narodzhennya-.jpg?alt=media&token=f2671a22-9f6a-4655-b912-c8d2f5b01bfd" alt="birthday">
    <img src="https://firebasestorage.googleapis.com/v0/b/monosushi-ffc3b.appspot.com/o/main-images%2Fmonokombo.jpg?alt=media&token=c4ecf2d1-d08b-4a2e-84d3-87e87c62d799" alt="combo">
    <img src="https://firebasestorage.googleapis.com/v0/b/monosushi-ffc3b.appspot.com/o/main-images%2Fsamovyviz.jpg?alt=media&token=408094ef-dd50-462e-bff6-a62d03c0ea0d" alt="togo">
    <img src="https://firebasestorage.googleapis.com/v0/b/monosushi-ffc3b.appspot.com/o/main-images%2Ffotomarafon-.jpg?alt=media&token=a182357d-3d9b-43d9-9632-971dfbbf072e" alt="foto"> -->
</div>

<div>
    <div class="row">
        <div class="col-md-4 block">
            <img src="https://firebasestorage.googleapis.com/v0/b/monosushi-ffc3b.appspot.com/o/main-images%2Fmn-delivery-img%20(1).svg?alt=media&token=c501739d-cd1f-4df7-b15a-527df22a2f50"
                alt="delivery">
            <button type="button" [routerLink]="[ '/dostavka-ta-oplata' ]">ЗОНИ ДОСТАВКИ</button>

        </div>
        <div class="col-md-4 block">
            <img src="https://firebasestorage.googleapis.com/v0/b/monosushi-ffc3b.appspot.com/o/main-images%2Fmono-supermen.svg?alt=media&token=af73d688-43e2-4eac-8bf1-0a0050d1b2ca"
                alt="supermen">
            <p>Середній час доставки в зеленій зоні <span>00:43:00</span></p>

        </div>
        <div class="col-md-4 block">
            <img src="https://firebasestorage.googleapis.com/v0/b/monosushi-ffc3b.appspot.com/o/main-images%2Fmono-bonus.svg?alt=media&token=a79a1dcd-529f-43cc-a584-7cb8c16c8627"
                alt="bonus">
            <p>Наш графік роботи Працюємо з <span>11:00</span> до <span>22:30</span></p>
        </div>
    </div>
</div>


<app-product-category></app-product-category>
