<form class="form" [formGroup]="authForm">
    <h1>Admin</h1>
    <div class="form-group">
        <mat-form-field color="primary" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email">
        </mat-form-field>
    </div>

    <div class="form-group">
        <mat-form-field color="primary" appearance="outline" color="primary">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
        </mat-form-field>
    </div>

    <div class="form-group">
        <button class="btn" mat-raised-button color="primary" type="button" [disabled]="authForm.invalid" (click)="loginUser()" mat-dialog-close>УВІЙТИ</button>

    </div>


</form>
